h1{
    font-size: 48px;
    letter-spacing: 0.03em;
    font-family: "Montserrat", serif;
    font-style: normal;
    font-weight: 300;
    line-height: 153.5%;
    color: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    margin-block-end: 0em;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}
h2{
    color: rgb(56, 56, 56);
    text-align: center;
    font-family: "Roboto", serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 140%;
}
p{
    margin: 20px auto;
    width: 80%;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    /* font-weight: 600; */
    line-height: 153.5%;
    max-width: 600px;
   
    padding-left: 20px;
    padding-right: 20px;
}
.wrapper{
    height: 100%;
    width: 100%;
}

.header{
    width: 100%;
    height: 50px;
    background-color: #ccc;
    background-image: url("../img/GLOBE---1850-2023-MO.png");
    background-size: cover;
}
.main{
    width: 100%;
    min-height: 100%;
    background-color: rgb(246, 246, 246);

    font-family: "Roboto", serif;
    font-optical-sizing: auto;
}
.footer{
    width: 100%;
    height: 50px;
    background-color: #111;
}
.section{
    width: 100%;
    display: flex;
    background-color: transparent;
    flex-direction: row;
}

.image_section{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 100%;
    max-width: 1448px;
    z-index: 1;
    /* padding-top: 5px; */
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
}
.center_image_section{
  margin-left: auto;
  margin-right: auto;
  display: flex;
 
  z-index: 1;
  /* padding-top: 5px; */
  padding-bottom: 30px;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
}
.anim{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
 
  max-width: 1448px;
  z-index: 1;
  /* padding-top: 5px; */
  padding-bottom: 30px;
  background-color: rgb(255, 255, 255);
  flex-direction: row;
 
  

}
.path_cover{
  bottom: 0;
  position: absolute;
  width: 200px;
  height: 5290px;
  background-color: #fff;
 
}
#cyclist{
  position: absolute;
 
  top: 0;
  left: -20px;
  /* visibility: hidden; */
}
#cyclist2{
 
  /* visibility: hidden; */
}
@keyframes resize {
  from {height: 5290}
  to {height: 0}
}
.section_title{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  max-width: 1448px;
  font-family: "Montserrat", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  padding-bottom: 10px;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
}
.anim_left{
  width: 50%;
  height: 100%;
  margin-top: 50px;
}
.anim_mid{
  position: relative;
  min-width: 200px;
  /* background-color: #ccc; */
  height: 100%;
  margin-left: 49px;
}
.anim_right{
  width: 50%;
  height: 100%;
  margin-top: 50px;
}
.route_section{
  min-height: 360px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
@keyframes fade-in2 {
  from {scale: .8; opacity: 0;}
  to {scale: 1; opacity: 1;}
}
.waypoint{
 
 opacity: 0;
 font-family: "Montserrat", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  animation: fade-in2 linear forwards;
  animation-timeline: view();
  animation-range-start: 30vh;
  animation-range-end: 40vh;

}
.dotted_line{
  width: 1px;
  border: solid 1px #111;
  height: 100px;
}
.day_section{
  opacity: 0;
  display: flex;
  min-height: 300px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  animation: fade-in2 linear forwards;
  animation-timeline: view();
  animation-range-start: 50vh;
  animation-range-end: 60vh;
}
.route_data{
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}
.route_image{
  margin-top: auto;
  margin-bottom: auto;
  height: 150px;
  width: 200px;
  border: solid #ffffff 7px;
  background-color: #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);;
}
.right_align{
  text-align: right;
  margin-right: 30px;
  margin-left: auto;
}
.left_align{
  text-align: left;
  /* margin-left: 30px; */
}
#roadmap {

  width: 100%;
  height: 200vh;
}


.ball {
  fill: rgb(255, 255, 255);
  stroke: rgb(0, 0, 0);
  stroke-width: 2px;
  /* visibility: hidden; */
}

.line {
  fill: none;
  stroke: rgb(0, 0, 0);
  stroke-width: 2px;
}

text {
  fill: rgb(0, 0, 0);
  font-size: 15px; 
  visibility: hidden;
}
.text_section{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 100%;
    max-width: 1448px;
    z-index: 1;
    /* padding-top: 5px; */
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
}



@media screen and (max-width: 800px) {
    .column_section{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        width: 100%;
       
        flex-direction: column;
    }
    
    .twocolumn{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .threecolumn{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
}
@media screen and (min-width: 800px) {
    .column_section{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        width: 100%;
       
        flex-direction: row;
    }
    
    .twocolumn{
        display: flex;
        width: 50%;
        flex-direction: column;
    }
    .threecolumn{
        display: flex;
        width: 33.3%;
        flex-direction: column;
    }
}

.wrapperslider{
    position: relative;
    height: 1000px;
    width: 100%;
    overflow: hidden;
    background: #fff;
   
  }
  .wrapper .images{
    height: 100%;
    width: 100%;
    display: flex;
  }
  .wrapper .images .img-1{
    height: 100%;
    width: 100%;
    background: url("../img/img1.jpg") no-repeat;
    /* background: url("images/car.jpg") no-repeat; */
  }
  .wrapper .images .img-2{
    position: absolute;
    height: 100%;
    width: 50%;
    /* filter: blur(5px); */
    background: url("../img/img2.jpg") no-repeat;
    /* background: url("images/car.png") no-repeat; */
  }
  .wrapper .slider{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
  }
  .wrapper .slider input{
    width: 100%;
    outline: none;
    background: none;
    -webkit-appearance: none;
  }
  .slider input::-webkit-slider-thumb{
    height: 1000px;
    width: 3px;
    background: none;
    -webkit-appearance: none;
    cursor: col-resize;
  }
  .slider .drag-line{
    width: 3px;
    height: 1000px;
    position: absolute;
    left: 49.85%;
    pointer-events: none;
  }
  .slider .drag-line::before,
  .slider .drag-line::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 478px;
    background: #fff;
  }
  .slider .drag-line::before{
    top: 0;
  }
  .slider .drag-line::after{
    bottom: 0;
  }
  .slider .drag-line span{
    height: 42px;
    width: 42px;
    border: 3px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  .slider .drag-line span::before,
  .slider .drag-line span::after{
    position: absolute;
    content: "";
    top: 50%;
    border: 10px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .slider .drag-line span::before{
    left: 40%;
    border-left-color: #fff;
  }
  .slider .drag-line span::after{
    left: 60%;
    border-top-color: #fff;
  }
  .box{
    width: 100%;
    height: 350px;
    /* background-color: rgb(93, 93, 93); */
  }