
html{
  scroll-behavior: smooth;
}
h1{
    font-size: 48px;
    letter-spacing: 0.03em;
    font-family: "Montserrat", serif;
    font-style: normal;
    font-weight: 300;
    line-height: 153.5%;
    color: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    margin-block-end: 0em;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}
h3{
  max-width: 600px;
  font-size: 27px;
  letter-spacing: 0.03em;
  font-family: "Montserrat", serif;
  font-style: normal;
  font-weight: 300;
  line-height: 153.5%;
  color: rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  margin-block-end: 0em;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
}
h2{
    color: rgb(56, 56, 56);
    text-align: center;
    font-family: "Roboto", serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 140%;
}
p{
    margin: 20px auto;
    width: 80%;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 20px;
    font-style: normal;
   
    line-height: 153.5%;
    max-width: 600px;
   
    padding-left: 20px;
    padding-right: 20px;
}
.wrapper{
    height: 100%;
    width: 100%;
   
}
.modal_wrapper{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
  z-index: 1000;
  perspective: 1000px;
}
.modal_image{
  width: calc(100%);

}
.modal:hover{
  
}
.modaltop{
  height: 40px;
display: flex;
}
.closeicon{
  width: 33px;
  height: 40px;
  padding-top: 13px;
  margin-left: auto;
  cursor: pointer;
}
.closeicon:hover{
opacity: 0.5;
}
.modalcontent{
  height: calc(100% - 80px);
  overflow-y: auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  
}
.modal{
  margin
  font-family: "Roboto", serif;
    font-optical-sizing: auto;
  width: 80vw;
  max-width: 900px;
  transform-style: preserve-3d;
  margin: auto;
  opacity: 0;
 height: 80vh;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
  background-color: #fff; 
}
@keyframes fade-in3 {
  from {scale: .8; opacity: 0;}
  to {scale: 1; opacity: 1; }
}
.showmodal{
  
  display: flex;
}
.animate_modal{
  
  animation: fade-in3 linear forwards;
  animation-duration: 0.1s;

 
}
.altmap{
  /* background-color: #ccc; */
  margin-bottom: -30px;
}
.header{
    width: 100%;
    height: 50px;
    background-color: #ccc;
    background-image: url("../img/GLOBE---1850-2023-MO.png");
    background-size: cover;
}
.main{
    width: 100%;
    min-height: 100%;
    background-color: rgb(246, 246, 246);

    font-family: "Roboto", serif;
    font-optical-sizing: auto;
}
.footer{
    width: 100%;
    height: 50px;
    background-color: #111;
}
.section{
    width: 100%;
    display: flex;
    background-color: transparent;
    flex-direction: row;
}

.image_section{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 100%;
    max-width: 1448px;
    z-index: 1;
    /* padding-top: 5px; */
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
}
.center_image_section{
  margin-left: auto;
  margin-right: auto;
  display: flex;
 
  z-index: 1;
  /* padding-top: 5px; */
  padding-top: 30px;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
}
.anim{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
 
  max-width: 1448px;
  z-index: 1;
  /* padding-top: 5px; */
  padding-bottom: 30px;
  background-color: rgb(255, 255, 255);
  flex-direction: row;
 
  

}
.postcard{
  width: 100%;
  margin-bottom: -6px;
  cursor: pointer;
}
.path_cover{
  bottom: 0;
  position: absolute;
  width: 200px;
  height: 5290px;
  background-color: #fff;
 
}
#cyclist{
  position: absolute;
 
  top: 0;
  left: -20px;
  /* visibility: hidden; */
}
#cyclist2{
 position: relative;
  z-index: 1;
  pointer-events: none; 
}
@keyframes resize {
  from {height: 5290}
  to {height: 0}
}
.flag{
  height: 15px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px;
}
.route_data_left{
  font-family: "Roboto", serif;
  font-style: normal;
  /* width: 100%;
  min-width: 160px; */
  margin-top: auto;
  margin-bottom: auto;
  margin-right:auto;
margin-left: auto;
}
.route_data_right{
  font-family: "Roboto", serif;
  font-style: normal;
  /* width: 100%;
  min-width: 160px; */
  margin-top: auto;
  margin-bottom: auto;
  margin-right:auto;
margin-left: auto;
}
.day_label{

  font-weight: 700;
  font-size: 22px;
  text-align: left;
  margin-bottom: 8px;

}
.day_label span{

  font-weight: 400;
  font-size: 16px;

}
.icon{
  height: 16px;
 
  
  padding-right: 15px;
}
.superscript {
  vertical-align: super;
  font-size: 8px;
  line-height: normal;
}
.normalscript {
  vertical-align: baseline;
  font-weight: 400;
  font-size: 16px;
}
.section_title{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  max-width: 1448px;
  font-family: "Montserrat", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  padding-bottom: 10px;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
}
.section_title_space{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  max-width: 1448px;
  font-family: "Montserrat", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  padding-bottom: 50px;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
}
.anim_left{
  width: 50%;
  height: 100%;
  margin-top: 50px;
}
.anim_mid{
  position: relative;
  min-width: 200px;
  /* background-color: #ccc; */
  height: 100%;
  margin-left: 49px;
}
.anim_right{
  width: 50%;
  height: 100%;
  margin-top: 50px;
}
.route_section{
  min-height: 360px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.route_section_last{
 
  width: 100%;
  display: flex;
  flex-direction: column;
}
@keyframes fade-in2 {
  from {scale: .8; opacity: 0;}
  to {scale: 1; opacity: 1;}
}
@keyframes fade-out {
  from {scale: 1; opacity: 1;}
  to {scale: .8; opacity: 0;}
 
}
.waypoint{
 
 opacity: 0;
 font-family: "Montserrat", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  padding-top: 4px;;

}
.waypoint_right_align{
 
  opacity: 0;
  font-family: "Montserrat", serif;
   font-style: normal;
   font-weight: 300;
   font-size: 30px;
   padding-top: 4px;
   text-align: right;
    margin-right: -65px;
    margin-left: auto;
 }
 .waypoint_left_align{
 
  opacity: 0;
  font-family: "Montserrat", serif;
   font-style: normal;
   font-weight: 300;
   font-size: 30px;
   padding-top: 4px;
   text-align: left;
    margin-left: -65px;
    margin-right: auto;
 
 }
.dist{
  padding-top: 17px;;
  opacity: 0;
  font-family: "Montserrat", serif;
   font-style: normal;
   font-weight: 300;
   font-size: 16px;
   
 
 }
 .dist_left{
  padding-top: 17px;;
  opacity: 0;
  font-family: "Montserrat", serif;
   font-style: normal;
   font-weight: 300;
   font-size: 16px;
   text-align: right;
    margin-right: -85px;
    margin-left: auto;
 
 }
 .dist_right{
  padding-top: 17px;;
  opacity: 0;
  font-family: "Montserrat", serif;
   font-style: normal;
   font-weight: 300;
   font-size: 16px;
   text-align: left;
    margin-left: -85px;
    margin-right: auto;
 
 }
.animate_in{
  animation: fade-in2 linear forwards;
  animation-duration: 0.5s;
}
.animate_out{
  animation: fade-out linear forwards;
  animation-duration: 0.1s;
}
.dotted_line{
  width: 1px;
  border: solid 1px #111;
  height: 100px;
}
.day_section{
  opacity: 0;
  display: flex;
  min-height: 300px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;

}
.day_section_text_left{
  margin-left: auto;
  margin-right: -100px;
    width: 282px;
  opacity: 0;
  display: flex;
  min-height: 300px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;

}
.day_section_text_right{
  margin-left: -100px;
    width: 282px;
  opacity: 0;
  display: flex;
  min-height: 300px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;

}
.day_section.animate{
  animation: fade-in2 linear forwards;
  animation-duration: 0.5s;
}


.right_align{
  text-align: right;
  margin-right: -30px;
  margin-left: auto;
}
.left_align{
  text-align: left;
  margin-left: -30px;
  margin-right: auto;
}
#roadmap {

  width: 100%;
  height: 200vh;
}


.ball {
  fill: rgb(255, 255, 255);
  stroke: rgb(0, 0, 0);
  stroke-width: 2px;
  /* visibility: hidden; */
}

.line {
  fill: none;
  stroke: rgb(0, 0, 0);
  stroke-width: 2px;
}

text {
  fill: rgb(0, 0, 0);
  font-size: 15px; 
  visibility: hidden;
}
.red{
  background-color: #f26b4e !important;
 
  padding-top: 30px;
}
.section_spacer{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  max-width: 1448px;
  z-index: 1;
  /* padding-top: 5px; */
  padding-bottom: 50px;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
}
.red h3{
 
  color: white !important;
  
}

.text_section{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 100%;
    max-width: 1448px;
    z-index: 1;
    /* padding-top: 5px; */
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
}
a{
  text-decoration: none;
  color: black;
}
.links{
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  color: black;
  padding-bottom: 20px;
}
.links a{
  padding-left: 10px;
  padding-right: 10px;
}
#map{
  height: 620px;
  margin-left:auto;
  margin-right: auto;
  border: solid #f6e7d1 8px;
  width: 780px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);;
}
.route_map{
  margin-left: 30px;
  margin-right: 30px;

  width: calc(100% - 60px);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);;
}

.route_image_left{
  margin-top: auto;
  margin-bottom: auto;

  width: 200px;
 
  background-color: #f2f2f2;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);;
}
.route_image_right{
  margin-top: auto;
  margin-bottom: auto;

  width: 200px;

  background-color: #f2f2f2;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);;
}
  .column_section{
      margin-left: auto;
      margin-right: auto;
      display: flex;
      width: 100%;
     
      flex-direction: row;
  }
  
  .twocolumn{
      display: flex;
      width: 50%;
      flex-direction: column;
  }
  .threecolumn{
      display: flex;
      width: 33.3%;
      flex-direction: column;
  }
.wrapperslider{
    position: relative;
    height: 430px;
    width: 100%;
    overflow: hidden;
    background: #fff;
   
  }
  .wrapper .images{
    height: 100%;
    width: 100%;
    display: flex;
   
  }
  .wrapper .images .img-1{
    height: 100%;
    width: 100%;
    background: url("../img/img2.jpg") no-repeat;
    background-size: cover;
  }
  .wrapper .images .img-2{
    position: absolute;
    height: 100%;
    width: 50%;
  
    background: url("../img/img1.jpg") no-repeat;
    background-size: cover;
   
  }
  .wrapper .slider{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
  }
  .wrapper .slider input{
    width: 100%;
    outline: none;
    background: none;
    -webkit-appearance: none;
  }
  .slider input::-webkit-slider-thumb{
    height: 430px;
    width: 60px;
    background: none;
    -webkit-appearance: none;
    cursor: col-resize;
    box-shadow: none;
  }
  .slider .drag-line{
    width: 3px;
    height: 430px;
    position: absolute;
    left: 49.85%;
    pointer-events: none;
  }
  .slider .drag-line::before,
  .slider .drag-line::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 192px;
    background: #fff;
  }
  .slider .drag-line::before{
    top: 0;
  }
  .slider .drag-line::after{
    bottom: 0;
  }
  .slider .drag-line span{
    height: 42px;
    width: 42px;
    border: 3px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  .slider .drag-line span::before,
  .slider .drag-line span::after{
    position: absolute;
    content: "";
    top: 50%;
    border: 10px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .slider .drag-line span::before{
    left: 40%;
    border-left-color: #fff;
  }
  .slider .drag-line span::after{
    left: 60%;
    border-top-color: #fff;
  }
  .box{
    width: 100%;
    height: 350px;
    /* background-color: rgb(93, 93, 93); */
  }
  @media screen and (max-width: 800px) {
    #map{
      height: 325px;
      width: 325px;
    }
    .dist_right, 
    .dist_left {
      padding-top: 8px;
    }
    .day_section_text_left{
      margin-left: auto;
      margin-right: -125px;
        width: 150px;
    
    }
    .day_section_text_right{
      margin-right: auto;
      margin-left: -100px;
        width: 150px;
    
    }
    .anim_left, 
    .anim_right{
      margin-top: 57px;
    }
    .waypoint_right_align, .waypoint_left_align{
   
     
       font-size: 20px;
     
     
     }
   
    .flag{
      height: 10px;
    }
     .day_label{
      display: flex;
      font-weight: 700;
      font-size: 16px;
      text-align: left;
      margin-bottom: 8px;
    
    }
    .day_label span{
    
      font-weight: 400;
      font-size: 12px;
    
    }
    .route_image_left{
      margin-right: -15px;
    
    
      width: 85px;
     
     
    }
    .route_image_right{
      margin-left: -15px;
     
      width: 85px;
  
    }
      .column_section{
          margin-left: auto;
          margin-right: auto;
          display: flex;
          width: 100%;
         
          flex-direction: column;
      }
      
      .twocolumn{
          display: flex;
          width: 100%;
          flex-direction: column;
      }
      .threecolumn{
          display: flex;
          width: 100%;
          flex-direction: column;
      }
  }
  @media screen and (min-width: 800px) {
   
  }